/* MyPage의 컨테이너 아래에 여백 추가 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px; /* Footer와의 간격을 위해 여백 추가 */
}


.title {
  font-size: 3rem;
  margin-bottom: 70px;
  margin-top: 50px;
  margin-left: 450px;
}

/* 프로필 컨테이너 */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

/* 원형 프로필 이미지 */
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* 기본 프로필 이미지 */
.default-profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 20px;
  margin-bottom: 20px;
}

/* 사용자 정보 컨테이너 */
.info-container {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
}

.info-container button {
  display: block;
  width: auto;
  padding: 10px;
  margin-top: 10px;
  background: none; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: black; /* 텍스트 색상을 기본 색상으로 설정 */
}

/* 버튼에 마우스를 올렸을 때 */
.info-container button:hover {
  background: none; /* 배경색을 없애서 파란색 배경 제거 */
  text-decoration: underline; /* 밑줄 표시 */
}

.button-group {
  display: flex;
  gap: 10px; /* 버튼 사이의 간격 추가 */
}


